* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    padding-bottom: 0;
    margin-bottom: 25px;
}

.see-more {
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    line-height: 21.13px;
}

.see-more:hover {
    transition: color 0.5s;
    text-decoration: underline;
}

li {
    list-style: none;
}

i:last-child {
    color: rgba(242, 242, 242, 1);
}

.header {
    padding-bottom: 0;
    margin-bottom: 25px;
}

.header-logo {
    width: 121px;
    height: 79px;
    padding: 30px;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    padding-bottom: 0;
}

.nav__links {
    padding-left: 0;
    display: flex;
    border-bottom: 2px solid #F2F2F2;
    margin: 0;
}

.link {
    width: 50%;
    text-align: center;
}

.link a:hover,
.link .active {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
    width: 100%;
    display: block;
    padding-bottom: 15px;
    margin-bottom: -2px;
}

/*header éliminé*/

.offer .photo {
    position: relative;
}

.offer .photo:hover .photo-hover {
    display: flex;
}

.offer .photo .photo-hover {
    width: 96%;
    height: 92.5%;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 15px 0 0 15px;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.main__offer .photo {
    position: relative;
}

.main__offer .photo:hover .photo-hover {
    display: flex;
}

.photo-hover {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 325px;
    height: 92%;
    border-radius: 15px 15px 0 0;
    display: none;
}

.activity {
    position: relative;
}

.activity .photo:hover .photo-hover {
    display: flex;
}

.activity .photo {
    position: relative;
}

.activity .photo .photo-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 18px 17px 0 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

/*partie photo hover terminé*/

.info-group {
    padding: 0 8px;
    margin-bottom: 25px;
}

.info-group__head {
    margin-bottom: 25px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    margin-top: 0;
    margin-bottom: 10px;
}

.info-group__descr {
    margin: 0;
}

.seach-bar {
    height: 49px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin-bottom: 25px;
}

input {
    width: 100%;
    border: none;
}

input::placeholder {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    line-height: 21.13px;
}

.localisation {
    width: 50px;
    height: auto;
    display: block;
    padding: 17px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.localisation i {
    color: black;
}

.seach-bar__button {
    background-color: #0065FC;
    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 15px 16px;
}

.seach-bar__button i {
    font-size: 17px;
}

.seach-bar__button span {
    display: none;
}

.filter-title {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}

.filter-bar__info-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 20px;
    justify-content: space-between;
}

.info {
    width: 165.5px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 16.44px;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    display: flex;
    align-items: center;
    padding: 4px 19px;
}

.info a {
    color: rgba(0, 0, 0, 1);
    display: flex;
}

.info i {
    display: block;
    margin-right: 10px;
    color: #0065FC;
    font-size: 22px;
}

.info span {
    margin-top: 3px;
}

.filter__description {
    display: flex;
    margin-top: 0;
    align-items: center;
}

.filter__description i {
    margin-right: 10px;
    width: 34px;
    height: 34px;
    color: #0065FC;
    border: 1px solid rgba(217, 217, 217, 1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.filter__description p {
    margin-top: 0;
    margin-bottom: 0;
}

.info-active, .info:last-child{
    margin-bottom: 0;
}

.info-active,
.info:hover {
    background-color: rgba(222, 235, 255, 1);
}

/*info-group éliminé*/
.offers {
    background-color: rgba(242, 242, 242, 1);
    height: auto;
    padding: 27px 15px;
    margin-bottom: 15px;
}

.offers-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 27px;
}

.offers .title {
    margin-bottom: 0;
}

.offers-title i {
    color: #0065FC;
}

.offer {
    display: flex;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: #fff;
}

.offer__title:hover,
.offer__prise:hover {
    text-decoration: underline;
    transition: color 0.5s;
}

.offer__desc {
    position: relative;
    color: black;
}

.offer__prise {
    font-size: 14px;
    line-height: 16.44px;
    margin-top: 0;
}

.offer__title {
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 700;
    margin-bottom: 5px;
}

.offer .stars {
    bottom: 10px;
}

.stars {
    position: absolute;
    bottom: 5px;
    color: #0065FC;
    height: 13.25px;
    font-size: 14px;
}

/*offre une éliminée*/

.offers_main {
    padding: 20px;
}

.offers_main_list{
    padding-bottom: 15px;
}

.offers_main .title {
    margin-bottom: 15px;
}

.main__offer img {
    display: block;
    margin-left: -5px;
}

.offer .photo {
    margin-right: 15px;
    height: 148px;
}

.main__offer {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 3px #F2F2F2;
}

.main__offer .offer__desc {
    height: 74.25px;
    padding-left: 15px;
}

.offer__desc .offer__prise {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*debut du menu des travaux*/

.activities {
    padding: 30px 25px;
    margin-bottom: 35px;
}

.activities .title {
    margin-bottom: 30px;
}

.activity {
    display: block;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    border-radius: 20px;
    padding-bottom: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
}

.activity img {
    display: block;
}

.activities__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
}

.activity .offer__title {
    text-align: left;
    width: 277px;
}

/* section des activités éliminée*/

.footer {
    background-color: rgba(242, 242, 242, 1);
    padding: 30px;
}

.about,
.hebergement,
.assistance {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 400;
}

.assistance {
    margin-bottom: 0;
}

.about__title,
.hebergement__title,
.assistance__title {
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 21.13px;
    margin-top: 0;
}

.about__lists,
.hebergement__lists,
.assistance__lists {
    padding-left: 0;
    margin-bottom: 0;
}

.list {
    margin-bottom: 15px;
}

.list:hover {
    text-decoration: underline;
    color: #0065FC;
    transition: color 0.5s;
}

.list:last-child {
    margin-bottom: 0;
}

/*details mobile */

@media screen and (min-width: 380px) {
    .offers .title {
        margin-left: auto;
        margin-right: auto;
        padding-right: 80px;
    }

    .seach-bar {
        width: 357px;
    }

    .seach-bar__button {
        width: 137px;
        border-radius: 0 15px 15px 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
        color: #fff;
        padding: 15px 16px;
    }

    .offer {
        width: 355px;
        margin-left: auto;
        margin-right: auto;
    }

    .offers_main_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__offer {
        width: 355px;
        padding-left: 14px;
    }

    .see-more {
        margin-right: 185px;
    }

    .offers_main .title {
        text-align: center;
        padding-right: 25px;
    }

    .activities .title {
        text-align: center;
        padding-right: 80px;
    }

    .activities__list {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 765px) {
    .hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .offers_main .title {
        text-align: left;
        padding-right: 25px;
    }

    .offers_main_list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main__offer {
        width: 340px;
        padding-left: 7px;
    }

    .offer {
        width: 445px;
        margin-left: 0;
    }

    .offers .title {
        margin-left: 0;
    }

    .see-more {
        width: 100%;
    }

    .activity {
        margin-right: 0;
    }

    .activities__list {
        justify-content: space-between;
        margin-left: 0;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .activities .title {
        text-align: left;
    }

    .footer {
        height: 163px;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .about,
    .hebergement,
    .assistance {
        padding: 20px;
    }
}

/*version tablette*/

@media screen and (min-width: 1024px) {
    .header {
        width: 1004px;
        padding-right: 0;
        padding-left: 0;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .header-logo {
        width: 161px;
        height: auto;
        padding: 30px 50px;
        margin-bottom: 0;
        display: block;
        margin-left: 0;
    }

    .navigation {
        width: 344px;
        height: auto;
    }

    .nav__links {
        border-bottom: none;
        justify-content: space-between;
        padding-right: 45px;
        padding-left: 40px;
    }

    .link {
        padding: 0;
        width: auto;
    }

    .activity__link{
        border-top: 2px solid transparent;
    }

    .link a,
    .link .active {
        width: 100%;
        display: block;
        padding-top: 15px;
        padding-bottom: 0;
   }

    .link a:hover,
    .link .active {
        border-top: 2px solid #0065FC;
        border-bottom: none;
        padding-bottom: 0;
        transition: color 0.6s;
    }

    /*header éliminé*/

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 40px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
    }

    .seach-bar__button span {
        display: inline;
    }

    .info-group {
        width: 914px;
        padding-left: 0;
        margin-bottom: 35px;
    }

    .seach-bar {
        width: 377px;
    }

    .seach-bar__button {
        border-radius: 0 15px 15px 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 21.13px;
    }

    .seach-bar__button i {
        display: none;
    }
    /*correction 1e terminée*/

    .filter-bar__info-list {
        flex-wrap: nowrap;    
    }

    .filter-bar {
        width: 668px;
    }

    .info {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .info:last-child {
        margin-right: 0;
        background-color: rgba(222, 235, 255, 1);
    }

    .info-active {
        background-color: transparent;
    }

    .info-active:hover {
        background-color: rgba(222, 235, 255, 1);
    }

    .offers {
        width: 914px;
        border-radius: 15px;
        padding: 30px;
        margin-bottom: 0;  
    }

    .offers__list {
        justify-content: space-between;
        display: grid;
        grid-template-columns: 274px 274px 274px;
    }

    .offer {
        width: auto;
        margin-bottom: 0;
    }

    /*offer une élminé*/
    .offers_main {
        background-color: rgba(242, 242, 242, 1);
        width: 914px;
        border-radius: 15px;
        padding: 30px;
        margin-bottom: 50px;
    }

    .offers_main .title {
        margin-bottom: 25px;
        text-align: left;
    }

    .offers .title {
        text-align: left;
        margin-left: 0;
        padding-right: 0;
    }

    .see-more {
        margin-top: 10px;
    }

    .main__offer img {
        display: block;
        margin-left: 0px;
        width: 100%;
    }

    .main__offer {
        width: 268px;
        background-color: #fff;
        padding-left: 0;
    }

    /*offer eliminée*/

    .photo {
        position: relative;
    }

    .photo:hover .photo-hover {
        display: flex;
    }

    .photo-hover {
        position: absolute;
        top: 4px;
        bottom: 0;
        right: 0;
        left: 4px;
        width: 97%;
        height: 92%;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        border-radius: 10px 10px 0 0;
    }

    .offer .photo-hover {
        position: absolute;
        top: 5px;
        bottom: 0;
        right: 0;
        left: 4px;
        width: 97%;
        height: 92%;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        border-radius: 15px 0 0 15px;
    }

    /*partie hover*/

    .activities {
        width: 914px;
        margin-top: 0;
        padding: 30px;
    }

    .activity {
        width: 193px;
        height: 270px;
    }

    .activities__list {
        display: grid;
        grid-template-columns: 193px 193px 193px 193px;
        grid-template-rows: 270px;
    }

    .activities .title {
        text-align: left;
    }

    .activity .offer__title {
        text-align: left;
        width: 172px;
    }

    .activity .photo .photo-hover {
        left: 0;
        border-radius: 18px 17px 0 0;
    }

    /*section des activités éliminé*/
    .footer {
        width: 914px;
        height: 163px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .about,
    .hebergement,
    .assistance {
        width: 259.8px;
        height: 163px;
        padding: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        width: 1440px;
        margin-bottom: 30px;
    }

    .see-more {
        width: 100%;
        margin-top: 0;
        padding-bottom: 10px;
        transition: none;
    }

    .info-group {
        width: 1340px;
        padding-right: 0;
    }

    .hero {
        width: 1340px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .offers_main {
        padding: 30px 30px;
        width: 871px;
        height: 614px;
        margin-bottom: 0;
    }

    .see-more:hover {
        color: #0065FC;
    }

    .offers {
        padding: 29px;
        flex-direction: column;
        width: 429px;
        height: 614px;
    }

    .main__offer {
        margin-bottom: 30px;
        width: 250.33px;
    }

    .offers__list {
        justify-content: space-between;
        display: grid;
        grid-template-columns: 369px;
        width: 369px;
        gap: 30px;
    }

    .offer:last-child {
        margin-bottom: 0;
    }

    /*hero éliminé*/
    .activities {
        width: 1340px;
        padding: 30px;
        height: 559px;
    }

    .activities__list {
        width: 1280px;
        column-gap: 10px;
        justify-content: center;
        height: 439px;
        grid-template-columns: 297px 297px 297px 297px;
        justify-content: space-between;
    }

    .activity {
        width: 297px;
        height: 439px;
        padding-bottom: 20px;
        margin-top: 175px;
    }

    .activity .offer__title {
        text-align: left;
        width: 242px;
    }

    /*section des activités éliminnée*/
    .footer {
        width: 1340px;
        height: 163px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .about,
    .hebergement,
    .assistance {
        width: 100%;
    }
}